#home-sec1 {
  width: 100%;
  height: auto;
  background-image: url("/img/home.jpeg");
  filter: grayscale(0.3);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #fff;
  transition: 0.4s ease-in;
}
#home-sec1::before {
  content: "";
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4392156863);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#home-sec1 .home-boxes {
  z-index: 2;
  text-align: center;
  padding-top: 100px;
  height: 100%;
}
#home-sec1 .home-boxes h1 {
  font-size: 3rem;
  font-weight: 700;
}
#home-sec1 .home-boxes p {
  font-size: 25px;
  margin-top: 20px;
}
#home-sec1 .home-boxes form {
  padding: 40px 10px 40px 10px;
  background-color: rgba(0, 0, 0, 0.639);
  margin: 3px;
  margin-top: 100px;
  z-index: 9;
}
#home-sec1 .home-boxes form .home-box select {
  width: 250px;
  margin: auto;
}
#home-sec1 .home-boxes form button {
  width: 150px;
  padding: 10px;
  background-color: #e52727;
  border: none;
  color: #fff;
  margin: auto;
}

a {
  text-decoration: none;
}

#home-sec2 {
  width: 100%;
  height: auto;
  padding-top: 20px;
  overflow-x: hidden;
}
#home-sec2 .box {
  position: relative;
}
#home-sec2 .box img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
#home-sec2 .box .sec2-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  padding: 50px;
  border-radius: 10px;
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 17%, rgba(247, 68, 126, 0) 100%);
  transition: 0.2s ease-in;
}
#home-sec2 .box .sec2-overlay:hover {
  background: rgb(0, 0, 0);
  background: linear-gradient(90deg, rgb(0, 0, 0) 46%, rgba(247, 68, 126, 0) 100%);
}
#home-sec2 .box .sec2-overlay button {
  width: 180px;
  padding: 10px;
  border: none;
  background-color: #e52727;
  margin-top: 10px;
  border-radius: 30px;
}
#home-sec2 .box .sec2-overlay button a {
  color: #fff;
}
#home-sec2 .box .sec2-overlay h1 {
  font-weight: bold;
}

#home-sec3 {
  width: 100%;
  height: auto;
  background-color: #fafafa;
  margin: 100px 0;
  padding: 50px 0;
  overflow-x: hidden;
}
#home-sec3 .box .sec3-icon {
  width: 25%;
}
#home-sec3 .box .sec3-icon i {
  font-size: 40px;
  color: #e52727;
}

#home-sec4 {
  width: 100%;
  height: auto;
}
#home-sec4 .home-sec4-text h2 {
  font-size: 17px;
}
#home-sec4 .home-sec4-text button {
  width: 200px;
  padding: 10px 5px;
  border: none;
  background-color: #e52727;
  border-radius: 30px;
  font-size: 10px;
}
#home-sec4 .home-sec4-text button a {
  color: #fff;
}
#home-sec4 .kapsam {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
#home-sec4 .kapsam:hover img {
  border: 1px solid #e52727;
}
#home-sec4 .kapsam:hover .title {
  background-color: #e52727;
}
#home-sec4 .kapsam img {
  border: 1px solid #efefef;
  width: 100%;
  height: 280px;
  border-radius: 10px 10px 0 0;
}
#home-sec4 .kapsam .title {
  background-color: #efefef;
  padding: 40px 0;
  margin: 0;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

#home-sec5 {
  width: 100%;
  height: auto;
  color: #fff;
}
#home-sec5 .box1 {
  height: 500px !important;
  position: relative;
  padding: 0;
  height: 900px;
  border-radius: 10px;
  margin: 0;
}
#home-sec5 .box1 img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
#home-sec5 .box1 .sec5-overlay {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 46%, rgba(247, 68, 126, 0) 100%);
  transition: 2s ease-out !important;
}
#home-sec5 .box1 .sec5-overlay:hover {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 58%, rgba(247, 68, 126, 0) 100%);
}
#home-sec5 .box1 .sec5-overlay h1 {
  font-family: "Damion", cursive;
  font-weight: 600;
}
#home-sec5 .box1 .sec5-overlay ul {
  padding: 0;
  list-style: none;
}
#home-sec5 .box1 .sec5-overlay ul li {
  padding: 5px 0;
  font-weight: 600;
}
#home-sec5 .box1 .sec5-overlay ul li:hover {
  color: red;
}
#home-sec5 .box1 .sec5-overlay button {
  width: 180px;
  padding: 10px;
  border: none;
  background-color: #e52727;
  margin-top: 10px;
  border-radius: 30px;
}
#home-sec5 .box1 .sec5-overlay button a {
  color: #fff;
}
#home-sec5 .box1 .sec5-overlay .sec5-text {
  width: 100%;
  margin: auto;
  padding: 30px 30px 0 30px;
}
#home-sec5 .box2 {
  color: #000;
  height: 60%;
  position: relative !important;
}
#home-sec5 .box2 button {
  background-color: #e52727;
  padding: 5 10px;
  border: 0;
  border-radius: 20px;
}
#home-sec5 .box2 button a {
  color: #fff;
}
#home-sec5 .box2 .card {
  min-height: 400px;
  position: relative;
}
#home-sec5 .box2 .card img {
  width: 100%;
  height: 30%;
}
#home-sec5 .box2 .card a {
  background-color: #e52727;
  color: #fff;
  border-radius: 30px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}
#home-sec5 .box2 .card p {
  margin-bottom: 50px;
}
#home-sec5 .box2 .card .img-kutu {
  margin-bottom: 78px;
}
#home-sec5 .slick-prev, #home-sec5 .slick-next {
  opacity: 0;
  visibility: hidden;
  position: absolute !important;
  top: -50px !important;
  padding: 13px 20px !important;
  background-color: #e52727;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home-sec5 .slick-prev {
  right: 90px !important;
  z-index: 5;
}
#home-sec5 .slick-next {
  right: 30px !important;
  z-index: 5;
}

#home-sec6 {
  width: 100%;
  margin: 60px 0;
  overflow-x: hidden;
  color: #000 !important;
  height: 60% !important;
  position: relative !important;
}
#home-sec6 .box6-text h3 a {
  color: #000;
  margin-left: 20px;
}
#home-sec6 button {
  background-color: #e52727;
  padding: 5 10px;
  border: 0;
  border-radius: 20px;
}
#home-sec6 button a {
  color: #fff;
}
#home-sec6 .card {
  min-height: 400px;
  position: relative;
}
#home-sec6 .card img {
  width: 100%;
  height: 30%;
}
#home-sec6 .card a {
  background-color: #e52727;
  color: #fff;
  border-radius: 30px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
}
#home-sec6 .card p {
  margin-bottom: 50px;
}
#home-sec6 .card .img-kutu {
  margin-bottom: 78px;
}
#home-sec6 .slick-prev, #home-sec6 .slick-next {
  opacity: 0;
  visibility: hidden;
  position: absolute !important;
  top: -50px !important;
  padding: 13px 20px !important;
  background-color: #e52727;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home-sec6 .slick-prev {
  right: 20px !important;
  z-index: 5;
}

#take1 {
  width: 100%;
  margin: 150px 0;
  background-image: url(/img/take1.jpg);
  height: 30vh;
  position: relative;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
#take1::before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  background-image: linear-gradient(90deg, #E52727 25%, rgba(0, 0, 0, 0.8) 70%);
}
#take1 .box-left {
  margin-top: 70px;
  opacity: 4;
  position: absolute;
  width: 400px;
}
#take1 .box-left h1 {
  font-size: 19px;
  display: inline;
  width: 100%;
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
}
#take1 .box-left h5 {
  font-size: 14px;
  color: white;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#take1 .box-right {
  display: none;
}

@media (min-width: 600px) {
  #home-sec5 {
    width: 100%;
    height: auto;
    color: #fff;
  }
  #home-sec5 .box1 {
    height: 1000px;
    position: relative;
    margin-bottom: 20px;
    padding: 0;
    height: 50%;
    border-radius: 10px;
  }
  #home-sec5 .box1 img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
  #home-sec5 .box1 .sec5-overlay {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(0, 0, 0) 46%, rgba(247, 68, 126, 0) 100%);
    transition: 0.5s ease-in-out;
  }
  #home-sec5 .box1 .sec5-overlay:hover {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(0, 0, 0) 58%, rgba(247, 68, 126, 0) 100%);
  }
  #home-sec5 .box1 .sec5-overlay h1 {
    font-family: "Damion", cursive;
    font-weight: 600;
  }
  #home-sec5 .box1 .sec5-overlay ul {
    padding: 0;
    list-style: none;
  }
  #home-sec5 .box1 .sec5-overlay ul li {
    padding: 5px 0;
    font-weight: 600;
  }
  #home-sec5 .box1 .sec5-overlay ul li:hover {
    color: red;
  }
  #home-sec5 .box1 .sec5-overlay button {
    width: 180px;
    padding: 10px;
    border: none;
    background-color: #e52727;
    margin-top: 10px;
    border-radius: 30px;
  }
  #home-sec5 .box1 .sec5-overlay button a {
    color: #fff;
  }
  #home-sec5 .box1 .sec5-overlay .sec5-text {
    width: 100%;
    margin: auto;
    padding: 30px 30px 0 30px;
  }
  #home-sec5 .box2 {
    color: #000;
    height: 60%;
    position: relative !important;
  }
  #home-sec5 .box2 button {
    background-color: #e52727;
    padding: 5 10px;
    border: 0;
    border-radius: 20px;
  }
  #home-sec5 .box2 button a {
    color: #fff;
  }
  #home-sec5 .box2 .card {
    min-height: 400px;
    position: relative;
  }
  #home-sec5 .box2 .card img {
    width: 100%;
    height: 30%;
  }
  #home-sec5 .box2 .card a {
    background-color: #e52727;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
  }
  #home-sec5 .box2 .card p {
    margin-bottom: 50px;
  }
  #home-sec5 .box2 .card .img-kutu {
    margin-bottom: 47px;
  }
  #home-sec5 .slick-prev, #home-sec5 .slick-next {
    opacity: 0;
    visibility: hidden;
    position: absolute !important;
    top: -50px !important;
    padding: 20px;
    background-color: #e52727;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #home-sec6 {
    color: #000;
    height: 60%;
    position: relative !important;
  }
  #home-sec6 button {
    background-color: #e52727;
    padding: 5 10px;
    border: 0;
    border-radius: 20px;
  }
  #home-sec6 button a {
    color: #fff;
  }
  #home-sec6 .card {
    min-height: 400px;
    position: relative;
  }
  #home-sec6 .card img {
    width: 100%;
    height: 30%;
  }
  #home-sec6 .card a {
    background-color: #e52727;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
  }
  #home-sec6 .card p {
    margin-bottom: 50px;
  }
  #home-sec6 .card .img-kutu {
    margin-bottom: 47px;
  }
}
@media (min-width: 768px) {
  #home-sec1 {
    height: auto;
  }
  #home-sec1 .home-boxes {
    z-index: 10;
    text-align: center;
    padding: 100px 0;
    height: 100%;
  }
  #home-sec1 .home-boxes h1 {
    font-size: 3rem;
    font-weight: 700;
  }
  #home-sec1 .home-boxes p {
    font-size: 25px;
    margin-top: 20px;
  }
  #home-sec1 .home-boxes form {
    padding: 40px 100px 40px 100px;
    background-color: rgba(0, 0, 0, 0.639);
    margin: 3px;
    margin-top: 100px;
  }
  #home-sec1 .home-boxes form .home-box select {
    width: 230px;
    margin: auto;
  }
  #home-sec1 .home-boxes form .box1 select {
    margin-left: 40px;
  }
  #home-sec1 .home-boxes form button {
    width: 150px;
    height: 46px;
    padding: 10px;
    background-color: #e52727;
    border: none;
    color: #fff;
    margin: 0 auto;
  }
  #home-sec2 {
    width: 100%;
    height: auto;
    padding-top: 20px;
  }
  #home-sec2 .box {
    height: 300px;
    position: relative;
  }
  #home-sec2 .box img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
  #home-sec2 .box .sec2-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    padding: 50px;
    border-radius: 10px;
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 17%, rgba(247, 68, 126, 0) 100%);
    transition: 0.2s ease-in;
  }
  #home-sec2 .box .sec2-overlay:hover {
    background: rgb(0, 0, 0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 46%, rgba(247, 68, 126, 0) 100%);
  }
  #home-sec2 .box .sec2-overlay button {
    width: 200px;
    padding: 15px;
    border: none;
    background-color: #e52727;
    margin-top: 25px;
    border-radius: 30px;
  }
  #home-sec2 .box .sec2-overlay button a {
    color: #fff;
  }
  #home-sec2 .box .sec2-overlay h1 {
    font-weight: bold;
  }
  #home-sec4 {
    width: 100%;
    height: auto;
  }
  #home-sec4 .home-sec4-text h2 {
    font-size: 20px;
  }
  #home-sec4 .home-sec4-text button {
    width: 200px;
    padding: 10px 5px;
    border: none;
    background-color: #e52727;
    border-radius: 30px;
    font-size: 15px;
  }
  #home-sec4 .home-sec4-text button a {
    color: #fff;
  }
  #home-sec4 .kapsam {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  #home-sec4 .kapsam:hover img {
    border: 1px solid #e52727;
  }
  #home-sec4 .kapsam:hover .title {
    background-color: #e52727;
  }
  #home-sec4 .kapsam img {
    border: 1px solid #efefef;
    width: 100%;
    height: 280px;
    border-radius: 10px 10px 0 0;
  }
  #home-sec4 .kapsam .title {
    background-color: #efefef;
    padding: 40px 0;
    margin: 0;
    text-align: center;
    border-radius: 0 0 10px 10px;
  }
  #home-sec5 {
    width: 100%;
    height: auto;
    color: #fff;
  }
  #home-sec5 .box1 {
    position: relative;
    padding: 0;
    height: 50%;
    border-radius: 10px;
  }
  #home-sec5 .box1 img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
  #home-sec5 .box1 .sec5-overlay {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(0, 0, 0) 46%, rgba(247, 68, 126, 0) 100%);
    transition: 0.5s ease-in-out;
  }
  #home-sec5 .box1 .sec5-overlay:hover {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(0, 0, 0) 58%, rgba(247, 68, 126, 0) 100%);
  }
  #home-sec5 .box1 .sec5-overlay h1 {
    font-family: "Damion", cursive;
    font-weight: 600;
  }
  #home-sec5 .box1 .sec5-overlay ul {
    padding: 0;
    list-style: none;
  }
  #home-sec5 .box1 .sec5-overlay ul li {
    padding: 5px 0;
    font-weight: 600;
  }
  #home-sec5 .box1 .sec5-overlay ul li:hover {
    color: red;
  }
  #home-sec5 .box1 .sec5-overlay button {
    width: 180px;
    padding: 10px;
    border: none;
    background-color: #e52727;
    margin-top: 10px;
    border-radius: 30px;
  }
  #home-sec5 .box1 .sec5-overlay button a {
    color: #fff;
  }
  #home-sec5 .box1 .sec5-overlay .sec5-text {
    width: 100%;
    margin: auto;
    padding: 30px 30px 0 30px;
  }
  #home-sec5 .box2 {
    color: #000;
    height: 60%;
    position: relative !important;
  }
  #home-sec5 .box2 button {
    background-color: #e52727;
    padding: 5 10px;
    border: 0;
    border-radius: 20px;
  }
  #home-sec5 .box2 button a {
    color: #fff;
  }
  #home-sec5 .box2 .card {
    height: 100%;
    position: relative;
  }
  #home-sec5 .box2 .card img {
    width: 100%;
    height: 30%;
  }
  #home-sec5 .box2 .card a {
    background-color: #e52727;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    padding: 5px 20px;
  }
  #home-sec5 .box2 .card p {
    margin-bottom: 50px;
  }
  #home-sec5 .box2 .card .img-kutu {
    margin-bottom: 40px;
  }
  #home-sec5 .slick-prev, #home-sec5 .slick-next {
    opacity: 2;
    visibility: visible;
    position: absolute !important;
    top: -50px !important;
    padding: 20px;
    background-color: #e52727;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #home-sec6 {
    color: #000;
    height: 60%;
    position: relative !important;
  }
  #home-sec6 button {
    background-color: #e52727;
    padding: 5 10px;
    border: 0;
    border-radius: 20px;
  }
  #home-sec6 button a {
    color: #fff;
  }
  #home-sec6 .card {
    height: 100%;
    position: relative;
  }
  #home-sec6 .card img {
    width: 100%;
    height: 30%;
  }
  #home-sec6 .card a {
    background-color: #e52727;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    padding: 5px 20px;
  }
  #home-sec6 .card p {
    margin-bottom: 50px;
  }
  #home-sec6 .card .img-kutu {
    margin-bottom: 40px;
  }
  #home-sec6 .slick-prev, #home-sec6 .slick-next {
    opacity: 2;
    visibility: visible;
    position: absolute !important;
    top: -50px !important;
    padding: 20px;
    background-color: #e52727;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #home-sec6 .slick-prev {
    right: 100px !important;
    z-index: 5;
  }
  #home-sec6 .slick-next {
    right: 40px;
  }
  #take1 {
    width: 100%;
    height: 50vh;
  }
  #take1 .box-left {
    display: inline;
    width: 40%;
  }
  #take1 .box-right {
    display: block;
  }
  #take1 .box-right .wheel {
    position: absolute;
    top: 0;
    width: 320px;
    height: 280px;
    right: 20px;
  }
}
@media (min-width: 992px) {
  #home-sec1 {
    height: auto !important;
  }
  #home-sec1 .home-boxes {
    height: 100%;
    z-index: 10;
    text-align: center;
    padding: 70px 0 20px 0;
  }
  #home-sec1 .home-boxes h1 {
    font-size: 3rem;
    font-weight: 700;
  }
  #home-sec1 .home-boxes p {
    font-size: 25px;
    margin-top: 20px;
  }
  #home-sec1 .home-boxes form {
    margin: 150px auto;
    padding: 40px 20px 20px 20px;
    width: 900px;
    background-color: rgba(0, 0, 0, 0.639);
  }
  #home-sec1 .home-boxes form .home-box select {
    width: 200px;
    margin: auto;
  }
  #home-sec1 .home-boxes form .box1 select {
    margin: 0 auto;
  }
  #home-sec1 .home-boxes form button {
    width: 200px;
    height: 47px;
    padding: 10px;
    background-color: #e52727;
    border-radius: 10px;
    color: #fff;
    margin: auto;
  }
  #home-sec5 {
    width: 100%;
    height: auto;
    color: #fff;
  }
  #home-sec5 .box1 {
    height: 700px;
    position: relative;
    padding: 0;
    height: 50%;
    border-radius: 10px;
  }
  #home-sec5 .box1 img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
  #home-sec5 .box1 .sec5-overlay {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(0, 0, 0) 46%, rgba(247, 68, 126, 0) 100%);
    transition: 0.5s ease-in-out;
  }
  #home-sec5 .box1 .sec5-overlay:hover {
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgb(0, 0, 0) 58%, rgba(247, 68, 126, 0) 100%);
  }
  #home-sec5 .box1 .sec5-overlay h1 {
    font-family: "Damion", cursive;
    font-weight: 600;
  }
  #home-sec5 .box1 .sec5-overlay ul {
    padding: 0;
    list-style: none;
  }
  #home-sec5 .box1 .sec5-overlay ul li {
    padding: 5px 0;
    font-weight: 600;
  }
  #home-sec5 .box1 .sec5-overlay ul li:hover {
    color: red;
  }
  #home-sec5 .box1 .sec5-overlay button {
    width: 180px;
    padding: 10px;
    border: none;
    background-color: #e52727;
    margin-top: 10px;
    border-radius: 30px;
  }
  #home-sec5 .box1 .sec5-overlay button a {
    color: #fff;
  }
  #home-sec5 .box1 .sec5-overlay .sec5-text {
    width: 100%;
    margin: auto;
    padding: 30px 30px 0 30px;
  }
  #home-sec5 .box2 {
    color: #000;
    height: 60%;
    position: relative !important;
  }
  #home-sec5 .box2 button {
    background-color: #e52727;
    padding: 5px;
    border: 0;
    border-radius: 20px;
  }
  #home-sec5 .box2 button a {
    color: #fff;
  }
  #home-sec5 .box2 span a {
    color: gray;
  }
  #home-sec5 .box2 .card {
    height: 100%;
    position: relative;
  }
  #home-sec5 .box2 .card img {
    width: 100%;
    height: 30%;
  }
  #home-sec5 .box2 .card a {
    background-color: #e52727;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    padding: 5px 20px;
  }
  #home-sec5 .box2 .card p {
    margin-bottom: 50px;
  }
  #home-sec5 .box2 .card .img-kutu {
    margin-bottom: 63px;
  }
  #home-sec5 .slick-prev, #home-sec5 .slick-next {
    opacity: 2;
    visibility: visible;
    position: absolute !important;
    top: -50px !important;
    padding: 20px;
    background-color: #e52727;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #home-sec6 {
    width: 100%;
    height: auto;
    color: #fff;
    height: 60%;
    position: relative !important;
  }
  #home-sec6 button {
    background-color: #e52727;
    padding: 5px;
    border: 0;
    border-radius: 20px;
  }
  #home-sec6 button a {
    color: #fff;
  }
  #home-sec6 span a {
    color: gray;
  }
  #home-sec6 .card {
    height: 100%;
    position: relative;
  }
  #home-sec6 .card img {
    width: 100%;
    height: 30%;
  }
  #home-sec6 .card a {
    background-color: #e52727;
    color: #fff;
    border-radius: 30px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 13px;
    padding: 5px 20px;
  }
  #home-sec6 .card p {
    margin-bottom: 50px;
  }
  #home-sec6 .card .img-kutu {
    margin-bottom: 63px;
  }
  #home-sec6 .card .card-body {
    color: #000;
  }
  #home-sec6 .slick-prev, #home-sec6 .slick-next {
    opacity: 2;
    visibility: visible;
    position: absolute !important;
    top: -50px !important;
    padding: 20px;
    background-color: #e52727;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #home-sec6 .slick-prev {
    right: 100px !important;
    z-index: 5;
  }
  #home-sec6 .slick-next {
    right: 40px;
  }
  #take1 {
    position: relative;
    width: 100%;
    height: 33vh !important;
  }
  #take1 .box-left {
    width: 570px;
  }
  #take1 .box-right {
    display: block;
  }
  #take1 .box-right .wheel {
    position: absolute;
    top: -50px;
    width: 350px;
    height: 320px;
    right: 80px;
  }
}/*# sourceMappingURL=style.css.map */